header{
  font-family: 'Major Mono Display', monospace;
  background-color: #776fa1;
/*put nav bar on the right side of the logo*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
}
h1{
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 50px;
  color:white;
}

body{

  margin:0;
}

div{
  font-size: 15px;
  font-family: 'Thasadith', sans-serif;
  text-align: center;
  padding-top: 40px;

}
.lissa{
  background-color: black;
  color:white;
}
.noise{
  color:blue;
}
.sin{
  background-color: white;
  color:blue;
  padding-bottom: 35px;
}
